<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="StudentDBConn" connectionString="Server=3e220704-841f-490a-ba75-a40000506333.sqlserver.sequelizer.com;Database=db3e220704841f490aba75a40000506333;User ID=iuscjpnwdowmutee;Password=LC8bi2L5484KTpawfJuBVkkjSrH3FLebhpwJYDZBkVjxR4i2HCwmARwzrXrZsRxq;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <sessionState timeout="600" mode="InProc"></sessionState>
   <!--
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="15360" requestLengthDiskThreshold="15360"/>
  -->
    
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="StudentLogin.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
